/* font-awesome extend */
.fa-half {
    font-size: 0.5em;
}

.fa-1_1x {
    font-size: 1.1em;
}

.fa-rotate-45 {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    filter: none;
}

.fa-right-bottom {
    position: relative;
    right: 0;
    bottom: -6px;
}

.fa-order-asc, .fa-order-desc {
    position: relative;
}

.fa-order-asc {
    bottom: -2px;
}

.fa-order-desc {
    bottom: 2px;
}

/* awesome-bootstrap-checkbox extend */
.checkbox.checkbox-hide {
    padding-left: 0;
}

.checkbox.checkbox-hide > input, .checkbox.checkbox-hide > input + label::before, .checkbox.checkbox-hide > input + label::after {
    display: none !important;
}

.checkbox.checkbox-hide > label {
    padding-left: 0;
}

.checkbox-compact {
    margin-top: 2px;
    margin-bottom: 2px;
}

/* angular-dragula extend */
.gu-mirror {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}
