<!DOCTYPE html>
<html ng-app="ariaNg">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" name="viewport">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-title" content="AriaNg"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="description" content="Aria2 Ng Frontend">
    <title>AriaNg</title>
    <!-- build:css css/bootstrap-3.3.6.min.css -->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <!-- endbuild -->
    <!-- build:css css/plugins.min.css -->
    <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../bower_components/AdminLTE/dist/css/AdminLTE.min.css"/>
    <link rel="stylesheet" href="../bower_components/sweetalert/dist/sweetalert.css"/>
    <link rel="stylesheet" href="../bower_components/seiyria-bootstrap-slider/dist/css/bootstrap-slider.min.css"/>
    <link rel="stylesheet" href="../bower_components/angular/angular-csp.css"/>
    <link rel="stylesheet" href="../bower_components/angular-busy/dist/angular-busy.min.css"/>
    <!-- endbuild -->
    <!-- build:css css/aria-ng.min.css -->
    <link rel="stylesheet" href="styles/aria-ng.css">
    <!-- endbuild -->
</head>
<body class="hold-transition skin-aria-ng sidebar-mini fixed">
<div class="wrapper" ng-controller="MainController" ng-swipe-left="swipeActions.leftSwipe()" ng-swipe-right="swipeActions.rightSwipe()" ng-swipe-disable-mouse>
    <header class="main-header">
        <a class="logo" href="#">
            <span class="logo-mini">Aria</span>
            <span class="logo-lg">AriaNg</span>
        </a>

        <nav class="navbar navbar-static-top" role="navigation">
            <ul class="nav navbar-nav">
                <li>
                    <a class="toolbar" title="{{'New' | translate}}">
                        <i class="fa fa-plus"></i>
                        <span translate>New</span>
                    </a>
                </li>
                <li>
                    <a class="toolbar" title="{{'Start' | translate}}">
                        <i class="fa fa-play"></i>
                    </a>
                </li>
                <li>
                    <a class="toolbar" title="{{'Pause' | translate}}">
                        <i class="fa fa-pause"></i>
                    </a>
                </li>
                <li>
                    <a class="toolbar" title="{{'Delete' | translate}}">
                        <i class="fa fa-trash-o"></i>
                    </a>
                </li>
                <li>
                    <a class="toolbar dropdown-toggle" data-toggle="dropdown" title="{{'Display Order' | translate}}">
                        <i class="fa fa-sort-alpha-asc"></i>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a class="pointer-cursor" ng-click="changeDisplayOrder('default:asc')">
                                <span translate>Default</span>
                                <i class="fa" ng-class="{'fa-check': isSetDisplayOrder('default')}"></i>
                            </a>
                        </li>
                        <li>
                            <a class="pointer-cursor" ng-click="changeDisplayOrder('name:asc')">
                                <span translate>By File Name</span>
                                <i class="fa" ng-class="{'fa-check': isSetDisplayOrder('name')}"></i>
                            </a>
                        </li>
                        <li>
                            <a class="pointer-cursor" ng-click="changeDisplayOrder('size:asc')">
                                <span translate>By File Size</span>
                                <i class="fa" ng-class="{'fa-check': isSetDisplayOrder('size')}"></i>
                            </a>
                        </li>
                        <li>
                            <a class="pointer-cursor" ng-click="changeDisplayOrder('percent:desc')">
                                <span translate>By Completed Percent</span>
                                <i class="fa" ng-class="{'fa-check': isSetDisplayOrder('percent')}"></i>
                            </a>
                        </li>
                        <li>
                            <a class="pointer-cursor" ng-click="changeDisplayOrder('remain:asc')">
                                <span translate>By Remain Time</span>
                                <i class="fa" ng-class="{'fa-check': isSetDisplayOrder('remain')}"></i>
                            </a>
                        </li>
                        <li>
                            <a class="pointer-cursor" ng-click="changeDisplayOrder('dspeed:desc')">
                                <span translate>By Download Speed</span>
                                <i class="fa" ng-class="{'fa-check': isSetDisplayOrder('dspeed')}"></i>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>

    <aside class="main-sidebar">
        <section class="sidebar">
            <ul id="siderbar-menu" class="sidebar-menu">
                <li class="header" translate>Download</li>
                <li data-href-match="/downloading">
                    <a href="#/downloading"><i class="fa fa-arrow-down"></i> <span ng-bind="('Downloading' | translate) + (globalStat && globalStat.numActive > 0 ? ' (' + globalStat.numActive + ')' : '')">Downloading</span></a>
                </li>
                <li data-href-match="/waiting">
                    <a href="#/waiting"><i class="fa fa-hourglass-half"></i> <span ng-bind="('Waiting' | translate) + (globalStat && globalStat.numWaiting > 0 ? ' (' + globalStat.numWaiting + ')' : '')">Scheduling</span></a>
                </li>
                <li data-href-match="/stopped">
                    <a href="#/stopped"><i class="fa fa-stop-circle-o"></i> <span ng-bind="('Downloaded / Stopped' | translate) + (globalStat && globalStat.numStopped > 0 ? ' (' + globalStat.numStopped + ')' : '')">Downloaded / Stopped</span></a>
                </li>
                <li class="header" translate>Settings</li>
                <li data-href-match="/settings/ariang">
                    <a href="#/settings/ariang"><i class="fa fa-cog"></i> <span translate>AriaNg Settings</span></a>
                </li>
                <li class="treeview">
                    <a href="javascript:void(0);">
                        <i class="fa fa-cogs"></i>
                        <span translate>Aria2 Settings</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li data-href-match="/settings/aria2/basic">
                            <a href="#/settings/aria2/basic"><i class="fa fa-circle-o"></i> <span translate>Basic Settings</span></a>
                        </li>
                        <li data-href-match="/settings/aria2/http-ftp-sftp">
                            <a href="#/settings/aria2/http-ftp-sftp"><i class="fa fa-circle-o"></i> <span translate>HTTP/FTP/SFTP Settings</span></a>
                        </li>
                        <li data-href-match="/settings/aria2/http">
                            <a href="#/settings/aria2/http"><i class="fa fa-circle-o"></i> <span translate>HTTP Settings</span></a>
                        </li>
                        <li data-href-match="/settings/aria2/ftp-sftp">
                            <a href="#/settings/aria2/ftp-sftp"><i class="fa fa-circle-o"></i> <span translate>FTP/SFTP Settings</span></a>
                        </li>
                        <li data-href-match="/settings/aria2/bt-metalink">
                            <a href="#/settings/aria2/bt-metalink"><i class="fa fa-circle-o"></i> <span translate>BitTorrent/MegaLink Settings</span></a>
                        </li>
                        <li data-href-match="/settings/aria2/bt">
                            <a href="#/settings/aria2/bt"><i class="fa fa-circle-o"></i> <span translate>BitTorrent Settings</span></a>
                        </li>
                        <li data-href-match="/settings/aria2/metalink">
                            <a href="#/settings/aria2/metalink"><i class="fa fa-circle-o"></i> <span translate>MegaLink Settings</span></a>
                        </li>
                        <li data-href-match="/settings/aria2/rpc">
                            <a href="#/settings/aria2/rpc"><i class="fa fa-circle-o"></i> <span translate>RPC Settings</span></a>
                        </li>
                        <li data-href-match="/settings/aria2/advanced">
                            <a href="#/settings/aria2/advanced"><i class="fa fa-circle-o"></i> <span translate>Advanced Settings</span></a>
                        </li>
                    </ul>
                </li>
                <li data-href-match="/status">
                    <a href="#/status"><i class="fa fa-server"></i> <span translate>Aria2 Status</span></a>
                </li>
            </ul>
        </section>
    </aside>

    <div id="content-wrapper" class="content-wrapper">
        <div id="content-body" class="content-body" ng-view cg-busy="{ promise: loadPromise, message: ('Loading' | translate) }"></div>
    </div>

    <footer class="main-footer">
        <a class="sidebar-toggle" data-toggle="offcanvas" role="button" title="{{'Toggle Navigation' | translate}}"></a>

        <span>&nbsp;</span>

        <div class="pull-right">
            <span class="realtime-upload">
                <i class="fa fa-arrow-down"></i>
                <span ng-bind="(globalStat.downloadSpeed | readableVolumn) + '/s'"></span>
            </span>
            <span class="realtime-download">
                <i class="fa fa-arrow-up"></i>
                <span ng-bind="(globalStat.uploadSpeed | readableVolumn) + '/s'"></span>
            </span>
        </div>
    </footer>
</div>

<!-- build:js js/jquery-2.2.4.min.js -->
<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<!-- endbuild -->
<!-- build:js js/angular-packages-1.4.10.min.js -->
<script src="../bower_components/angular/angular.min.js"></script>
<script src="../bower_components/angular-route/angular-route.min.js"></script>
<script src="../bower_components/angular-sanitize/angular-sanitize.min.js"></script>
<script src="../bower_components/angular-touch/angular-touch.min.js"></script>
<script src="../bower_components/angular-messages/angular-messages.min.js"></script>
<script src="../bower_components/angular-cookies/angular-cookies.min.js"></script>
<script src="../bower_components/angular-animate/angular-animate.min.js"></script>
<!-- endbuild -->
<!-- build:js js/bootstrap-3.3.6.min.js -->
<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- endbuild -->
<!-- build:js js/moment-with-locales-2.13.0.min.js -->
<script src="../bower_components/moment/min/moment.min.js"></script>
<script src="../bower_components/moment/locale/zh-cn.js"></script>
<script src="../bower_components/moment/locale/zh-tw.js"></script>
<script src="../bower_components/moment-timezone/builds/moment-timezone-with-data-2010-2020.min.js"></script>
<!-- endbuild -->
<!-- build:js js/echarts.simple-3.1.10.min.js -->
<script src="../bower_components/echarts/dist/echarts.simple.min.js"></script>
<!-- endbuild -->
<!-- build:js js/plugins.min.js -->
<script src="../bower_components/AdminLTE/dist/js/app.min.js"></script>
<script src="../bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="../bower_components/sweetalert/dist/sweetalert.min.js"></script>
<script src="../bower_components/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js"></script>
<script src="../bower_components/angular-translate/angular-translate.min.js"></script>
<script src="../bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
<script src="../bower_components/angular-moment/angular-moment.min.js"></script>
<script src="../bower_components/angular-websocket/angular-websocket.min.js"></script>
<script src="../bower_components/angular-base64/angular-base64.min.js"></script>
<script src="../bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>
<script src="../bower_components/angular-busy/dist/angular-busy.min.js"></script>
<script src="../bower_components/angular-bootstrap-slider/slider.js"></script>
<script src="../bower_components/ngSweetAlert/SweetAlert.js"></script>
<!-- endbuild -->
<!-- build:js js/aria-ng.min.js -->
<script src="scripts/core/__core.js"></script>
<script src="scripts/core/__fix.js"></script>
<script src="scripts/core/app.js"></script>
<script src="scripts/core/aria2options.js"></script>
<script src="scripts/core/config.js"></script>
<script src="scripts/core/constants.js"></script>
<script src="scripts/core/lang-confs.js"></script>
<script src="scripts/core/lang-default.js"></script>
<script src="scripts/core/router.js"></script>
<script src="scripts/core/utils.js"></script>
<script src="scripts/controllers/list.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/controllers/settings-aria2.js"></script>
<script src="scripts/controllers/settings-ariang.js"></script>
<script src="scripts/controllers/status.js"></script>
<script src="scripts/controllers/task-detail.js"></script>
<script src="scripts/filters/dateDuration.js"></script>
<script src="scripts/filters/filename.js"></script>
<script src="scripts/filters/fileOrderBy.js"></script>
<script src="scripts/filters/percent.js"></script>
<script src="scripts/filters/substring.js"></script>
<script src="scripts/filters/taskOrderBy.js"></script>
<script src="scripts/filters/taskStatus.js"></script>
<script src="scripts/filters/volumn.js"></script>
<script src="scripts/services/aria2HttpRpcService.js"></script>
<script src="scripts/services/aria2RpcService.js"></script>
<script src="scripts/services/aria2WebSocketRpcService.js"></script>
<script src="scripts/services/ariaNgSettingService.js"></script>
<!-- endbuild -->
</body>
</html>
