<section class="content no-padding">
    <div id="task-table" class="task-table">
        <div class="row" ng-repeat="task in downloadTasks | taskOrderBy: getOrderType()" data-gid="{{task.gid}}">
            <div class="col-md-8">
                <span class="task-name" ng-bind="task.taskName | substring: (titleWidth / 20)" title="{{task.taskName}}"></span>
                <span class="task-volumn" ng-bind="task.totalLength | readableVolumn"></span>
            </div>
            <div class="col-md-2">
                <div class="progress">
                    <div class="progress-bar progress-bar-primary" role="progressbar"
                         aria-valuenow="{{task.completePercent}}" aria-valuemin="1"
                         aria-valuemax="100" style="width: {{task.completePercent}}%;">
                        <div ng-class="{'lower': task.completePercent < 50}"
                            ng-bind="(task.completePercent | number: 2) + '%'"></div>
                    </div>
                </div>
                <div>
                    <span class="task-last-time"
                          ng-bind="0 <= task.remainTime && task.remainTime < 86400? (task.remainTime | dateDuration: 'second': 'HH:mm:ss') : ('More Than One Day' | translate)"></span>
                    <span class="task-seeders pull-right" ng-bind="(task.numSeeders ? (task.numSeeders + '/') : '') + task.connections"></span>
                </div>
            </div>
            <div class="col-md-2">
                <span class="task-download-speed" ng-bind="(task.downloadSpeed | readableVolumn) + '/s'"></span>
            </div>
        </div>
    </div>
</section>
