<section class="content no-padding">
    <div id="task-table" class="task-table">
        <div class="task-table-title hidden-xs">
            <div class="row">
                <div class="col-sm-8">
                    <div class="row">
                        <div class="col-sm-8">
                            <a ng-click="changeDisplayOrder('name:asc', true)" translate>File Name</a>
                            <i class="fa" ng-class="{'fa-sort-asc fa-order-asc': isSetDisplayOrder('name:asc'), 'fa-sort-desc fa-order-desc': isSetDisplayOrder('name:desc')}"></i>
                        </div>
                        <div class="col-sm-4">
                            <a ng-click="changeDisplayOrder('size:asc', true)" translate>File Size</a>
                            <i class="fa" ng-class="{'fa-sort-asc fa-order-asc': isSetDisplayOrder('size:asc'), 'fa-sort-desc fa-order-desc': isSetDisplayOrder('size:desc')}"></i>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="row">
                        <div class="col-sm-6">
                            <a ng-click="changeDisplayOrder('percent:desc', true)" translate>Completed Percent</a>
                            <i class="fa" ng-class="{'fa-sort-asc fa-order-asc': isSetDisplayOrder('percent:asc'), 'fa-sort-desc fa-order-desc': isSetDisplayOrder('percent:desc')}"></i>
                        </div>
                        <div class="col-sm-6">
                            <a ng-click="changeDisplayOrder('remain:asc', true)" translate>Remain Time</a>
                            <i class="fa" ng-class="{'fa-sort-asc fa-order-asc': isSetDisplayOrder('remain:asc'), 'fa-sort-desc fa-order-desc': isSetDisplayOrder('remain:desc')}"></i>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <a ng-click="changeDisplayOrder('dspeed:desc', true)" translate>Download Speed</a>
                    <i class="fa" ng-class="{'fa-sort-asc fa-order-asc': isSetDisplayOrder('dspeed:asc'), 'fa-sort-desc fa-order-desc': isSetDisplayOrder('dspeed:desc')}"></i>
                </div>
            </div>
        </div>
        <div class="task-table-body">
            <div class="row" ng-repeat="task in downloadTasks | filter: filterByTaskName | taskOrderBy: getOrderType()" data-gid="{{task.gid}}">
                <div class="col-sm-8">
                    <span class="task-name" ng-bind="task.taskName" title="{{task.taskName}}"></span>
                    <div class="task-files">
                        <span ng-bind="task.totalLength | readableVolumn"></span>
                        <a ng-href="#/task/detail/{{task.gid}}">
                            <span ng-bind="'(' + task.files.length + ' ' + ('Files' | translate) + ')'"></span>
                        </a>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="progress">
                        <div class="progress-bar progress-bar-primary" role="progressbar"
                             aria-valuenow="{{task.completePercent}}" aria-valuemin="1"
                             aria-valuemax="100" ng-style="{ width: task.completePercent + '%' }">
                            <span ng-class="{'progress-lower': task.completePercent < 50}"
                                ng-bind="(task.completePercent | percent: 2) + '%'"></span>
                        </div>
                    </div>
                    <div>
                        <span class="task-last-time"
                              ng-bind="0 <= task.remainTime && task.remainTime < 86400? (task.remainTime | dateDuration: 'second': 'HH:mm:ss') : ('More Than One Day' | translate)"></span>
                        <span class="task-download-speed visible-xs-inline pull-right"
                              ng-bind="(task.downloadSpeed | readableVolumn) + '/s'"></span>
                        <span class="task-seeders pull-right" ng-bind="(task.numSeeders ? (task.numSeeders + '/') : '') + task.connections"></span>
                    </div>
                </div>
                <div class="col-sm-2 hidden-xs">
                    <span class="task-download-speed" ng-bind="(task.downloadSpeed | readableVolumn) + '/s'"></span>
                </div>
            </div>
        </div>
    </div>
</section>
