<section class="content no-padding">
    <div class="new-task-table">
        <div class="row">
            <div class="col-sm-12">
                <p>
                    <span translate>Download Links:</span>
                    <small class="description inline" translate>Support multiple URLs, one URL per line.</small>
                </p>
                <textarea class="form-control" rows="8" ng-model="urls"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div class="new-task-toollink hide">
                    <a class="pointer-cursor" translate>Open Torrent File</a>
                    <a class="pointer-cursor" translate>Open Metalink File</a>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="pull-right">
                    <button class="btn btn-sm btn-default" ng-disabled="urls == ''" ng-click="startDownload()" translate>Start Download</button>
                </div>
            </div>
        </div>
    </div>
</section>
