<section class="content no-padding">
    <div class="settings-table">
        <div class="row">
            <div class="setting-key setting-key-without-desc col-sm-4">
                <span translate>Language</span>
            </div>
            <div class="setting-value col-sm-8">
                <select class="form-control" style="width: 100%;" ng-model="settings.language"
                        ng-options="type as (language.name | translate) for (type, language) in languages"
                        ng-change="settingService.setLanguage(settings.language)">
                </select>
            </div>
        </div>
        <div class="row">
            <div class="setting-key setting-key-without-desc col-sm-4">
                <span translate>Aria2 RPC Host</span>
                <span class="asterisk">*</span>
            </div>
            <div class="setting-value col-sm-8">
                <div class="input-group">
                    <span class="input-group-addon" ng-bind="settings.protocol + '://'"></span>
                    <input class="form-control" type="text" ng-model="settings.rpcHost" ng-change="settingService.setRpcHost(settings.rpcHost)"/>
                    <span class="input-group-addon" style="border-left: 0">:</span>
                    <span class="input-group-addon" ng-bind="settings.rpcPort"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="setting-key setting-key-without-desc col-sm-4">
                <span translate>Aria2 RPC Port</span>
                <span class="asterisk">*</span>
            </div>
            <div class="setting-value col-sm-8">
                <input class="form-control" type="text" ng-model="settings.rpcPort" ng-change="settingService.setRpcPort(settings.rpcPort)"/>
            </div>
        </div>
        <div class="row">
            <div class="setting-key setting-key-without-desc col-sm-4">
                <span translate>Aria2 RPC Protocol</span>
                <span class="asterisk">*</span>
            </div>
            <div class="setting-value col-sm-8">
                <select class="form-control" style="width: 100%;" ng-model="settings.protocol" ng-change="settingService.setProtocol(settings.protocol)">
                    <option value="http" translate>Http</option>
                    <option value="ws" translate>WebSocket</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="setting-key setting-key-without-desc col-sm-4">
                <span translate>Aria2 RPC Secret Token</span>
                <span class="asterisk">*</span>
            </div>
            <div class="setting-value col-sm-8">
                <input class="form-control" type="password" ng-model="settings.secret" ng-change="settingService.setSecret(settings.secret)"/>
            </div>
        </div>
        <div class="row">
            <div class="setting-key setting-key-without-desc col-sm-4">
                <span translate>Global Stat Refresh Interval</span>
                <span class="asterisk">*</span>
            </div>
            <div class="setting-value col-sm-8">
                <select class="form-control" style="width: 100%;" ng-model="settings.globalStatRefreshInterval"
                        ng-change="settingService.setGlobalStatRefreshInterval(settings.globalStatRefreshInterval)"
                        ng-options="time.optionValue as (time.name | translate: {value: time.value}) for time in availableTime">
                </select>
            </div>
        </div>
        <div class="row">
            <div class="setting-key setting-key-without-desc col-sm-4">
                <span translate>Download Task Refresh Interval</span>
                <span class="asterisk">*</span>
            </div>
            <div class="setting-value col-sm-8">
                <select class="form-control" style="width: 100%;" ng-model="settings.downloadTaskRefreshInterval"
                        ng-change="settingService.setDownloadTaskRefreshInterval(settings.downloadTaskRefreshInterval)"
                        ng-options="time.optionValue as (time.name | translate: {value: time.value}) for time in availableTime">
                </select>
            </div>
        </div>
        <div class="row tip">
            <span class="asterisk">*</span>
            <span translate>Changes to the settings take effect after refreshing page.</span>
        </div>
    </div>
</section>
