<section class="content no-padding">
    <div class="settings-table">
        <div class="row">
            <div class="setting-key col-sm-4">
                <span translate>Aria2 Version</span>
            </div>
            <div class="setting-value col-sm-8">
                <span ng-bind="aria2Status.version"></span>
            </div>
        </div>
        <div class="row">
            <div class="setting-key col-sm-4">
                <span translate>Enabled Features</span>
            </div>
            <div class="setting-value col-sm-8">
                <span class="wholeline" ng-repeat="feature in aria2Status.enabledFeatures" ng-bind="feature"></span>
            </div>
        </div>
        <div class="row ng-cloak" ng-if="aria2Status">
            <div class="setting-key setting-key-without-desc col-sm-4">
                <span translate>Functions</span>
            </div>
            <div class="setting-value col-sm-8">
                <button class="btn btn-primary" ng-click="saveSession()" promise-btn>
                    <span translate>Save Session</span>
                </button>
                <button class="btn btn-danger" ng-click="shutdown()">
                    <span translate>Shutdown Aria2</span>
                </button>
            </div>
        </div>
    </div>
</section>
